.color-select-wrapper {
  position: relative;
  max-width: 300px;
}

.color-select-wrapper select {
  width: 215px;
}

.color-preview-box {
  position: absolute;
  top: 25px;
  left: calc(100% - 70px);
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

@media screen and (max-width: 48em) {
  .color-select-wrapper select {
    width: 75%;
  }

  .color-preview-box {
    left: calc(100% - 42px);
  }
}
